$font-one: "Orbitron", sans-serif;
$font-two: "Cairo", sans-serif;
$font-three: "Playball", cursive;

$shadow-one: 1px 1px 2px rgba(0, 0, 0, 0.4);
$shadow-two: 2px 2px 0px rgba(0, 0, 0, 0.4);
$shadow-three: 3px 3px 0px rgba(0, 0, 0, 0.2);
$shadow-four: -1px -1px 4px rgba(0, 0, 0, 0.25);

$color-grey: #2c2c2c;
$color-grey-opacity: rgba(44, 44, 44, 1);
$color-grey-opacity-one: rgba(44, 44, 44, 0.9);
$color-grey-opacity-two: rgba(44, 44, 44, 0.8);
$color-lightgrey-opacity: rgba(195, 208, 216, 0.4);
$color-beige: rgba(195, 208, 216, 1);
$color-azure: #3994ce;
